@using System.Collections.Generic
@model IEnumerable<JobTracker.Data.Entities.Login.User>
@{
    ViewData["Title"] = "Manage Users";
}

<h1>Manage Users</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">User Name</th>
            <th scope="col">Active</th>
            <th scope="col">Admin</th>
            <th scope="col">Manage</th> <!--This should be an edit button that shows an overlay allowing the user to edit or delete the user account-->
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.UserName</td>
            <td>@user.IsActive</td>
            <td>@user.IsAdmin</td>
            <td>
                <button type="button" class="btn btn-primary">
                    Edit
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>
<a type="button" class="btn btn-primary" asp-area="" asp-controller="Login" asp-action="Register">Add New User</a>